h1 {
    columns: #324455;;
   }
* {
    border: solid;
}
.header{
    background-color: #d2691e;
    display:flex;
    justify-content: space-around;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ff0000;
}


.footer{
    display: flex;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
}
body{
    background-color: #808080;
}
